<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-indigo-950 flex items-center justify-center">

    <main class="flex justify-center flex-col py-[5rem]">

        <section class="flex flex-col bg-gray-100 w-auto max-w-7xl p-6 mb-5 shadow-md shadow-black rounded-lg">

            <div id="user">

                <div  class="my-2 max-w-7xl">
                    <h3 class="text-2xl font-bold my-4">Archivos Subidos</h3>

                    <div id="tracks" class="flex flex-col gap-5 w-[25rem] md:w-[45rem]">
            

                        <div class="hidden text-5xl font-bold" id="texto"></div>
            </div>

            
        
            </div>
            
            </div>
            
 <div id="mensaje"></div>

 
        </section>


        <div class="flex justify-center gap-5">
            <div id="cerrarSesion" class="px-8 py-4 hover:bg-red-600 bg-gray-100 rounded-md transition ease-in-out cursor-pointer text-red-600 hover:text-white font-bold">
                Cerrar sesión
            </div>

            <a href="/home/">
            <div class="px-8 py-4 hover:bg-gray-600 bg-gray-100 rounded-md transition ease-in-out cursor-pointer  font-bold">
                Volver
            </div></a>
        </div>
       
    </main>

    <script src="index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
</body>
</html>