<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir Archivos</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-indigo-950 flex justify-center">

    <main class="flex justify-center flex-col py-[5rem]">
        <section class="flex flex-col bg-gray-100 max-w-7xl p-6 mb-5 shadow-md shadow-black rounded-lg gap-4">

           <h1 class="text-center text-6xl font-bold">Subir Archivo</h1>

            <form id="form" class="flex flex-col gap-4">

                <div class="flex justify-center">
                    <div class="flex flex-row bg-gray-300 justify-center gap-10 h-[10rem] w-auto px-20 rounded-md items-center">
                        <div class="flex flex-col">
                            <label for="title" class="text-sm font-bold">Title</label>
                            <input id="title" type="text" name="title" id="title" class="h-8 w-[15rem] rounded-sm border-none">
                        </div>
                    </div>
                </div>
                <div class="flex flex-col md:flex-row gap-4 bg-indigo-800 p-6 rounded-lg">
                    <div class="flex flex-col items-center gap-2 text-white font-semibold">
                        <label for="archivo" class="text-center text-lg">Cover</label>
                        <input id="image" type="file" name="imgUpload">
                        <p class="font-thin text-sm">* Solo se permiten archivos con la extensión .jpg y .png</p>
                        <img class="h-16 w-16" id="imgPre">
                    </div>
                    <div class="flex flex-col text-white font-semibold items-center gap-2">
                        <label for="cover" class="text-center text-lg font-semibold">Audio</label>
                        <input id="audio" type="file" name="audioUpload">
                        <p class="font-thin text-sm">* Solo se permiten archivos con la extensión .mp3</p>
                        <audio id="audioPre" src="" controls></audio>
                    </div>
                </div>
                <button id="btnUpload" type="submit" class="w-6/12 self-center h-[3rem] text-xl rounded-lg font-bold bg-indigo-900 text-white hover:translate-y-1 hover:bg-indigo-700 transition ease-in-out">Subir Canción</button>
            </form>

            <div id="mensaje"></div>
        </section>

        <div class="flex justify-center gap-5">
            <div id="cerrarSesion" class="px-8 py-4 hover:bg-red-600 bg-gray-100 rounded-md transition ease-in-out cursor-pointer text-red-600 hover:text-white font-bold">
                Cerrar sesión
            </div>

            <a href="/home/">
            <div class="px-8 py-4 hover:bg-gray-600 bg-gray-100 rounded-md transition ease-in-out cursor-pointer  font-bold">
                Volver
            </div></a>
        </div>
    </main>

    <script src="index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
</body>
</html>