<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="bg-indigo-950">

    <main class="flex justify-center items-center my-[5rem]">
    
    <div class="bg-gray-100 max-w-7xl flex flex-col p-6 mb-5 shadow-md shadow-black rounded-lg gap-5">

        <div class="flex justify-center items-center gap-5">

            <div class="flex-row gap-3">
                <p id="id" class="text-2xl font-bold"></p>

                <p id="email" class="text-2xl font-bold"></p>

                <p id="user" class="text-xl text-gray-600"></p>
            </div>
           
        </div>
        
        <h1 class="text-[2rem] font-bold">¿DESEA ELIMINAR ESTE USUARIO?</h1>

        <button id="si" class="px-4 py-2 bg-gray-500 text-white font-bold rounded-sm hover:bg-red-600 transition ease-in-out">Sí</button> 

        <button id="no" class="px-4 py-2 bg-gray-500 text-white font-bold rounded-sm hover:bg-gray-700 transition ease-in-out">No</button>

    </div>
</main>

    <script src="index.js"></script>
</body>
</html>