<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOUD!</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../reproductor/style.css">
</head>
<body class="bg-indigo-950 flex justify-center items-center">
    
    <main class="flex-col justify-center p-5">

        <h1 class="text-center mb-5 text-3xl font-bold text-white" id="welcome"></h1>

        <section class="flex-row justify-between">

    <div id="albumes" class="bg-gray-100 max-w-7xl flex flex-col p-6 mb-5 shadow-md shadow-black rounded-lg">
          
        <h2 class="text-2xl font-bold mb-5">Canciones subidas</h2>
   
    <div id="data-cont" class="grid grid-cols-2 md:grid-cols-5 gap-11">

        <div class="hidden text-5xl font-bold" id="texto"></div>

    </div>

</div>
<div id="btnContainer" class="flex flex-col md:grid md:grid-cols-2 justify-between gap-6 mb-5">

            <a href="/upload/"><div class="bg-gray-100 px-[8rem] py-4 max-w-3xl font-bold text-center hover:translate-y-[0.2rem] hover:bg-gray-600 transition ease-in-out rounded-md">
                SUBIR CANCION
            </div></a>

            <a href="/admin/"><div id="admin" class="hidden bg-gray-100 max-w-3xl px-8 py-4 hover:translate-y-[0.2rem] font-bold text-center hover:bg-gray-600 transition ease-in-out rounded-md">
                ADMINISTRAR
            </div></a>

    </div>

        <div class="flex justify-center gap-5">
            <div id="cerrarSesion" class="px-8 py-4 hover:bg-red-600 bg-gray-100 rounded-md transition ease-in-out cursor-pointer text-red-600 hover:text-white font-bold">
                Cerrar sesión
            </div>
        </div>
    </section>


        

    <section>

        <div id="reproductor" class="bg-black/50 fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div id="rep-cont" class="flex justify-center">
                <div class="h-[auto] w-[auto] my-[10rem] rounded-3xl bg-indigo-700 border-indigo-500 border-[.5rem] flex flex-col justify-center shadow-2xl shadow-black">

                    <div>
                        <audio src="/uploads/audio/Cornerstone.mp3" id="audio"></audio>
                    </div>
        
                    <div class="my-3 flex justify-center">
                    <div id="image" class="px-4">
                    </div>
                    </div>
                    <div id="dataText" class=" gap-3 flex flex-row justify-between mx-4 my-4 items-end">
                        <div id="title" class="text-[2rem] font-bold text-slate-300">
                         </div>
                    <div><p id="artist" class="text-sm text-slate-300"></p></div>
                        
                    </div>
            
                    <div id="progress" class=" flex justify-center">
                        <progress class="w-[100%] m-3 transition ease-in-out" value="0" max="100"></progress>
                    </div>
        
                    <div id="controles" class="flex flex-row justify-center gap-16 mx-4 my-2">
  
                        <div id="play_pause" class="bg-indigo-950 flex justify-center rounded-full h-[4.5rem] w-[4.5rem] items-center hover:cursor-pointer hover:bg-indigo-900 hover:translate-y-1 transition ease-in-out border-[.3rem] border-indigo-900">
        
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-white w-10 h-10">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z" />
                                <!-- <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25v13.5m-7.5-13.5v13.5" />      -->
                            </svg>
                        </div>
     
                    </div>     
                        
                </div>
            
            </div>
        </div>

    </section>

    </main>

    <script src="index.js"></script>
    <script src="../reproductor/index.js"></script>
   
</body> 
</html>