<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
</head>
<body class="bg-indigo-950">

    <main class="justify-center w-auto">

        <div class="flex justify-around gap-[10rem] my-20 items-center flex-col md:flex-row">
            <div id="log" class="">

                <form id="formLogin" class="h-[20rem] w-[20rem] max-w-xl bg-gray-300 rounded-md flex flex-col p-6 justify-center gap-4 shadow-2xl shadow-black">

                    <h2 class="font-bold text-2xl
                    ">Inicia Sesion</h2>

                    <div class="flex flex-col gap-2">
                        <label for="login-email" class="text-sm">Ingrese su Email</label>
                        <input id="login-email" type="text" class="rounded-lg border-none py-1 px-2 focus:outline-indigo-900">
                    </div>

                    <div class="flex flex-col gap-2">
                        <label for="login-pass" class="text-sm">Ingrese su Contraseña</label>
                        <input id="login-pass" type="password" class="rounded-lg  py-1 px-2 focus:outline-indigo-900 border-none">
                    </div>

                    <div class="flex justify-center">
                    <button type="submit" class="hover:bg-indigo-500 hover:translate-y-1  transition ease-in-out bg-indigo-700 text-white font-bold rounded-md px-4 py-2">
                        Iniciar Sesion
                    </button>
                    </div>
                </form>

            </div>

                <div class="flex-col hidden md:flex gap-2">
                <div class="inline-block h-[250px] min-h-[1em] w-3 self-stretch bg-neutral-100 opacity-100 rounded-sm"></div>
                <p class="text-center text-neutral-100">o</p>
                <div class="inline-block h-[250px] min-h-[1em] w-3 self-stretch bg-neutral-100 opacity-100 rounded-sm"></div>
                </div>

                <div class="flex-row flex md:hidden gap-4">
                    <div class="w-[250px] bg-neutral-100 opacity-100"></div>
                    <p class="text-center text-neutral-100 text-xl font-bold">o</p>
                    <div class=" w-[250px] bg-neutral-100 opacity-100"></div>

                </div>

                <div id="reg" class="flex justify-center flex-col">

                    <form id="formReg" class="w-[25rem] h-[32rem] md:w-[30rem] max-w-xl bg-gray-300 rounded-md flex flex-col p-6 justify-center gap-4 shadow-2xl shadow-black">
                        
                        <h2 class="font-bold text-2xl
                    ">Registrate</h2>
                        
                        <div class="flex flex-col gap-2">
                            <label for="reg-email" class="text-sm">Ingrese su Email</label>
                            <input id="reg-email" type="text" class="rounded-lg border-none py-1 px-2 focus:outline-indigo-900 focus:outline-[3px]">
                        </div>

                        <div class="flex flex-col gap-2">
                            <label for="reg-user" class="text-sm">Ingrese un Nombre de Usuario</label>
                            <input id="reg-user" type="text" class="rounded-lg border-none py-1 px-2 focus:outline-indigo-900 focus:outline-[3px]">
                            <p class="text-sm text-red-500">El nombre de usuario debe contener al menos 8 caracteres</p>
                        </div>

                        <div class="flex flex-col gap-2">
                            <label for="reg-pass" class="text-sm">Ingrese su Contraseña</label>
                            <input id="reg-pass" type="password" class="rounded-lg border-none py-1 px-2 focus:outline-indigo-900 focus:outline-[3px]">
                            <p class="text-sm text-red-500">Requisitos: 1 carácter especial, 1 mayúscula, mínimo 8 caracteres, 1 número</p>
                        </div>

                        <div class="flex flex-col gap-2">
                            <label for="reg-confirm" class="text-sm">Confirmar Contraseña</label>
                            <input id="reg-confirm" type="password" class="rounded-lg border-none py-1 px-2 focus:outline-indigo-900 focus:outline-[3px]">
                        </div>

                        <div class="flex justify-center">
                        <button id="btnReg" type="submit" disabled class="disabled:cursor-not-allowed hover:bg-indigo-500 hover:translate-y-1 bg-indigo-700 text-white font-bold rounded-md px-4 py-2 transition ease-in-out ">
                            Registrarse
                        </button>

                        </div>

                        
                        
                    </form>

                    
                </div>
                
                </div>
                <div id="mensaje" class="flex justify-center">
                        
                </div>
        </div>

       <div class="flex justify-center mb-5">

            <a href="/"><div class="rounded-md bg-slate-300 max-w-4xl py-6 px-12 hover:bg-slate-400 transition ease-in-out hover:translate-y-1 cursor-pointer">
                <p class="font-bold text-lg ">Volver a la Página principal</p>
            </div></a>

       </div>

    </main>

    <script src="index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
</body>
</html>