<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>

    <main class="flex justify-center items-center my-[5rem]">
    
    <div class="bg-gray-100 max-w-7xl flex flex-col p-6 mb-5 shadow-md shadow-slate-400 rounded-lg gap-5">

        <img id="img">

        <p id="title"></p>

        <p id="user"></p>
        
        <h1 class="text-[2rem] font-bold">¿DESEA ELIMINAR ESTA CANCION?</h1>

        <button id="si" class="px-4 py-2 bg-gray-500 text-white font-bold rounded-sm hover:bg-red-400 transition ease-in-out">Sí</button> 

        <button id="no" class="px-4 py-2 bg-gray-500 text-white font-bold rounded-sm hover:bg-gray-700 transition ease-in-out">No</button>

    </div>
</main>
</body>
</html>