<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Archivos</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body class="bg-indigo-950 flex justify-center">

    <main class="flex justify-center flex-col py-[5rem]">
        <section class="flex flex-col bg-gray-100 max-w-7xl p-6 mb-5 shadow-md shadow-black rounded-lg gap-4">

           <h1 class="text-center text-6xl font-bold">Editar Archivo</h1>

            <form id="form" class="flex flex-col gap-4">

                <div class="flex justify-center">
                    <div class="flex flex-row bg-gray-300 justify-center gap-10 h-auto py-4 md:h-[10rem] w-auto px-20 rounded-md items-center">
                        <div class="flex flex-col md:flex-row gap-4 items-center">
                            <label for="title" class="text-sm font-bold">Title</label>
                            <input id="title" type="text" name="title" id="title" class="h-8 w-[15rem] rounded-sm border-none">
                            
                            <label for="profesor" class="text-sm font-bold">Profesor</label>
                            <select class="h-8 w-[15rem] rounded-sm border-none px-2" name="profe" id="profe">
                                <option value="Christian">Christian</option>
                                <option value="Premmlin">Premmlin</option>
                                <option value="Leonardo">Leonardo</option>
                                <option value="Arnaldo">Arnaldo</option>
                                <option value="Rut">Rut</option>
                            </select>

                            <label for="aula" class="text-sm font-bold">Aula</label>
                            <select class="h-8 w-[15rem] rounded-sm border-none px-2" name="aula" id="aula">
                                <option value="Batería">Batería</option>
                                <option value="Bajo">Bajo</option>
                                <option value="Guitarra">Guitarra</option>
                                <option value="Piano/Teclado">Piano/Teclado</option>
                                <option value="Canto">Canto</option>
                            </select>
                        </div>
                    </div>
                </div>
                
                <button id="btnUpload" type="submit" class="w-6/12 self-center h-[3rem] text-xl rounded-lg font-bold bg-indigo-900 text-white hover:translate-y-1 hover:bg-indigo-700 transition ease-in-out">Subir Actualización</button>
            </form>

            <div id="mensaje" class="flex justify-center">
                
            </div>
        </section>

        <div class="flex justify-center gap-5">
            <div id="cerrarSesion" class="px-8 py-4 hover:bg-red-600 bg-gray-100 rounded-md transition ease-in-out cursor-pointer text-red-600 hover:text-white font-bold">
                Cerrar sesión
            </div>

            <a href="/home/">
            <div class="px-8 py-4 hover:bg-gray-600 bg-gray-100 rounded-md transition ease-in-out cursor-pointer  font-bold">
                Volver
            </div></a>
        </div>
    </main>

    <script src="index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
</body>
</html>