progress{

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

}
 
progress[value]::-webkit-progress-value{

    border-radius: .4rem/* 16px */;
    background-color: rgb(30 27 75);
  

}

progress[value]::-webkit-progress-bar{
    
    border-radius: .5rem/* 16px */;
    background-color: rgb(226, 222, 231);
    border: 1rem;
    border-color:  rgb(99 102 241) 
}

progress[value]::-moz-progress-value{

    border-radius: 1rem/* 16px */;
    background-color: rgb(121, 53, 199);

}

progress[value]::-moz-progress-bar{
    
    border-radius: 1rem/* 16px */;
    background-color: rgb(226, 222, 231);

}
